{
    "version": 1,
    "disable_existing_loggers": false,
    "formatters": {
        "fullFormatter": {
            "format": "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
        },
        "fullFormatter_new": {
            "format": "%(asctime)s - %(name)s - %(levelname)s - %(message)s - %(filename)s - %(funcName)s - %(lineno)d - %(module)s - %(process)d - %(processName)s - %(thread)d - %(threadName)s"
        },
        "shortNameFormatter": {
            "()": "nvflare.fuel.utils.log_utils.ShortNameFormatter",
            "fmt": "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
        },
        "colorFormatter": {
            "()": "nvflare.fuel.utils.log_utils.ColorFormatter"
        },
        "jsonFormatter": {
            "()": "nvflare.fuel.utils.log_utils.JsonFormatter"
        }
    },
    "filters": {
        "FLFilter": {
            "()": "nvflare.fuel.utils.log_utils.FLFilter",
            "logger_names": ["nvflare.app_common", "nvflare.app_opt"]
        }
    },
    "handlers": {
        "consoleHandler": {
            "class": "logging.StreamHandler",
            "level": "DEBUG",
            "formatter": "colorFormatter",
            "stream": "ext://sys.stdout",
            "filters": ["FLFilter"]
        },
        "logFileHandler": {
            "class": "logging.handlers.RotatingFileHandler",
            "level": "DEBUG",
            "formatter": "shortNameFormatter",
            "filename": "log.txt",
            "mode": "a",
            "maxBytes": 20971520,
            "backupCount": 10
        },
        "errorFileHandler": {
            "class": "logging.handlers.RotatingFileHandler",
            "level": "ERROR",
            "formatter": "shortNameFormatter",
            "filename": "log_error.txt",
            "mode": "a",
            "maxBytes": 20971520,
            "backupCount": 10
        },
        "jsonFileHandler": {
            "class": "logging.handlers.RotatingFileHandler",
            "level": "DEBUG",
            "formatter": "jsonFormatter",
            "filename": "log_json.txt",
            "mode": "a",
            "maxBytes": 20971520,
            "backupCount": 10
        },
        "FLFileHandler": {
            "class": "logging.handlers.RotatingFileHandler",
            "level": "DEBUG",
            "formatter": "shortNameFormatter",
            "filename": "log_fl.txt",
            "mode": "a",
            "maxBytes": 20971520,
            "backupCount": 10,
            "filters": ["FLFilter"]
        }
    },
    "loggers": {
        "root": {
            "level": "INFO",
            "handlers": ["consoleHandler", "logFileHandler", "errorFileHandler", "jsonFileHandler", "FLFileHandler"]
        }
    }
}